/* Site Set Up
   ========================================================================== */
 
// Site Wide Colours
$brand:red;
$background-color:#ccc;
$base-text-color:#333;
 
$base-text-align:left; // switch for rtl
$base-font-family:Helvetica, Arial, sans-serif;
$base-font-size:16px;
$base-line-height:1.4;

$site-max-width:940px;

$space-small:0.25em;
$space-medium:0.5em;
$space-large:1em;

$link-color:$brand;
$link-color-hover:darken($brand, 15%);

