/* Header.css
 **********************************************************************/

/* 	1. Layout
	2. Typography
	3. Style

 **********************************************************************/
 
 

/* 1. Layout
 **********************************************************************/
 
.head {
	background: rgb(64,63,65); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(64,63,65,1) 0%, rgba(36,32,33,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(64,63,65,1)), color-stop(100%,rgba(36,32,33,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(64,63,65,1) 0%,rgba(36,32,33,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(64,63,65,1) 0%,rgba(36,32,33,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(64,63,65,1) 0%,rgba(36,32,33,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(64,63,65,1) 0%,rgba(36,32,33,1) 100%); /* W3C */
	border-bottom:3px solid #4C4D4F;
}

.no-cssgradients .head {
	background:url(../Images/Css/Fallbacks/bg-gradbar.png) left top repeat-x #000;	
}
 
.head > .contain {
	padding-bottom:1.2em;
	padding-top:1.4em;
	position:relative;	
}
 
 
/* 2. Logo
 **********************************************************************/
 
.logo {
	height:46px;
	float:left;
	text-indent:-999em;
	width:320px;	
}
 
 
/* 3. Navigation
 **********************************************************************/


.nav {
	display:inline-block;
	margin:.5em 0 0 1em;
}

.nav ol {	
	margin:0;	
}

.nav li {
	border-right:1px solid rgba(0, 0, 0, 1);
	float:left;
	padding-right:.5em;
}

.nav li + li {
	border-left:2px solid rgba(255, 255, 255, .05);
	padding-left:.5em;
}

.nav .end {
	border-right:0;
	padding-right:0;	
}

 
/* 4. Login form
 **********************************************************************/

.head-login {
	background: rgb(87,87,89); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(87,87,89,1) 0%, rgba(64,64,65,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(87,87,89,1)), color-stop(100%,rgba(64,64,65,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(87,87,89,1) 0%,rgba(64,64,65,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(87,87,89,1) 0%,rgba(64,64,65,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(87,87,89,1) 0%,rgba(64,64,65,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(87,87,89,1) 0%,rgba(64,64,65,1) 100%); /* W3C */
	color:#fff;
	float:right;
	padding:.4em .8em .6em;
	position:absolute;
	right:0;
	top:0.4em;
	width:210px;	
	
	border-radius:0.4em;
}

.head-login label {
	display:inline-block;
	margin-bottom:0.2em;	
}

.head-login input[type=text],
.head-login input[type=password] {
	background-color:#fff;
	border:1px solid #BEBEBE;
	padding:0.3em;
	
	border-radius:0.35em;
}

.head-login input[type=text] {
	margin-bottom:0.4em;	
}



/* 2. Typography
 **********************************************************************/
 

 
/* 3. Style
 **********************************************************************/


.nav a {
	background-color:rgba(0, 0, 0, .3);
	color:#fff;	
	padding:0.6em 0.7em;
	
	border-radius:0.5em;
	-webkit-transition:backround-color 0.2s ease;
}

.nav a:hover,
.nav a:focus {
	background-color:rgba(0, 0, 0, .8);
	text-decoration:none;	
}
 

.active {
	font-weight:bold;
}