/*
	Author		: Storm Creative
	Document		: IE
	Created on	: 09-07-2011
	Description	: Fixes bugs in Internet Explorer rendering (uses star hack to target IE7)
*/

/* 1. Misc
   2. Body
   3. Form
	

 **********************************************************************/
 

/* 1. Misc
 **********************************************************************/
